/*------------------------------------*\
  #STYLE DE LA PAGE DE SELECTION
\*------------------------------------*/

*:focus
{
    outline: none;
}

body{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    background-color:#212D3A;
    font-family: Futura, 'IBM Plex Sans', Arial, sans-serif;
}

body:after{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(images/noise.gif);
    opacity: .02;
    z-index: 100000;
    pointer-events: none;
}

/* TOP */


/* CONTENT */
h1.new_name {
        font-family: serif;
    font-weight: 500;
    font-size: 8em;
    color: white;
    position: absolute;
}

#content{
    width:70%;
    margin:auto;
}

#criteres ul{
    text-decoration: none;
    margin: 0px;
    padding:15px;
    border-bottom: 0.2px solid #4E4E4E; 
}

#criteres li{
    font-family: 'LEMON/MILK light', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: white;
    list-style: none;
    display: inline-block;
    width: 30%;
}

li label{
    margin-left: 10px;
}

#php_content{
    height:500px;
    display: flex;
    margin-bottom:400px;
}

#php_content ul{
    text-decoration: none;
    margin: 0px;
    padding:15px;
    border-bottom: 0.2px solid #4E4E4E; 
}

#php_content li{
    font-family: 'LEMON/MILK light', sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: white;
    display: inline-block;
    list-style: none;
    width: 33.33%;
}

#php_content li:hover {
    background-color:#2B3049;
}

#artiste{
    padding-left: 0px;
}

#album{
    padding-left: 80px;
}

#titre>*{  
    height: 40px;
    border-bottom: 0.2px solid #4E4E4E;
}

#artiste>*{  
    height: 40px;
    border-bottom: 0.2px solid #4E4E4E;
}

#album>*{  
    height: 40px;
    border-bottom: 0.2px solid #4E4E4E;
}


/*#control{
    background-color:#31373E;
    margin:0px;
    padding:0px;
}

#control img{
    width:20px;
    text-align: center;
}*/

#control
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #31373E;
}

#informations{

}

#affiche_info{
    margin-left:40px;
    margin-top:20px;
}

#affiche_info img{
    float: left;
    width:100px;
}

#affiche_info p{
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

#affiche_info audio{
    float: left;
    margin-left: 10px;
    margin-top: 0px;
}

#audio{
    text-align: center;
}

#player_control{
    width: 500px;
    margin: auto;
}

#player_control ul{
    text-decoration: none;
    text-align: center;
}

#player_control li{
    list-style: none;
    display: inline-block;
    padding-left:40px;
    padding-right:40px;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

#image_titre{
        height: 100px;
}

.button
{
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button:hover i
{
    color: #fff;
}



/*#titre li {
        position: relative;
}*/

#buttonplaylist, #buttonRemove {
    border-radius: 20px;
    width: 340px;
    height: 53px;
    margin-top: 15%;
    position: absolute;
    left: 40%;
}

.myplaylist_row {
    display: flex;
    position: relative;
    height: 40px;
    border-bottom: 0.2px solid #4E4E4E;
}


#content.myplaylist-content {
        margin-bottom: 200px!important; 
}

.myplaylist_row> div:nth-child(2) {
    position: absolute;
    left: 270px;
}

.myplaylist_row> div:nth-child(3) {
    position: absolute;
    left: 490px;
}

#nom_playlist {
    width: 340px;
    background-color: #29303d;
    color: white;
    border: none;
    border-bottom: 4px solid grey !important;
    height: 43px !important;
    margin-top: 6%;
    position: absolute;
    left: 40%;
    font-size: 22px;
}

#titre, #formplaylist {
    width: 100%;
}

#titre li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

#titre #musique_titre {
    position: absolute;
    left: 100px;
    top: 0px;
}

#titre #musique_artiste {
    position: absolute;
    left: 30vw;
    top: 0;
}

#titre #musique_album {
    position: absolute;
    left: 50vw;
    top: 0;
}

/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/

@media (max-width: 1500px) { 
    #criteres li{
    padding-left:80px;
    padding-right:100px;
    }
}


@media (max-width: 768px) { 
    #criteres li{
    padding-left:80px;
    padding-right:10px;
    }
}